[submodule "robot_descriptions_msra"]
	path = robot_descriptions_msra
	url = https://github.com/msra-sim/robot_descriptions.git
[submodule "SAPIEN"]
	path = SAPIEN
	url = https://github.com/haosulab/SAPIEN.git
